header {
    background-color: blueviolet;
}

#search {
    background-color: #83e22b;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #f8f9fa;
}

.history-button {
    background-color: blueviolet;
}

h2 {
    font-size: 22px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 30%;
    background-color: #25292D;
    color: #f8f9fa;
    text-align: center;
    margin-bottom: 1vh;
    border-radius: 30px;
    display: block;
}

h3 {
    color: #f8f9fa;
    font-size: 20px;
    padding: 5px;
}

.result-gif {
    border: 1px solid #f8f9fa;
    margin: 6px;
}

.custom-border {
    border-radius: 10px;
    border: 1px solid #f8f9fa;
}

.historyHeader {
    background-color: blueviolet;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #f8f9fa;
}

#searchbox {
    width: 100%;
}

.hoverable:hover {
    border: 2px solid white;
    cursor: pointer;
}

.center-element {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}